<form id="formUpdate">
  <label for="code">codígo:</label>
  <input type="text" name="code" id="code" value="{{products.code}}" />
  <br />
  <label for="title">título:</label>
  <input type="text" id="title" name="title" value="{{products.name}}" />
  <br />
  <label for="description"> Descrição</label>
  <input type="text" id="description" name="description" />
  <br />
  <label for="price">Preço:</label>
  <input type="text" id="price" name="price" />
  <br />
  <label for="stock"> Estoque:</label>
  <input type="text" id="stock" name="stock" />
  <br />
  <label for="thumb">Thumbmail</label>
  <input type="text" id="thumb" name="thumb" />
  <br />
  <br />
   <button type="submit">Atualizar</button>
</form>
<script src="/js/index.js"></script>